In [1]:
import pandas as pd

### Label Encoding

In [2]:
df=pd.DataFrame({
    "Object":["object1","object2","object3","object4","object5"],
    "Color":["red","green","blue","green","red"]
})

In [3]:
df

    Object  Color
0  object1    red
1  object2  green
2  object3   blue
3  object4  green
4  object5    red

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le_color=LabelEncoder()

In [12]:
encoded_color=le_color.fit_transform(df[["Color"]])

e:\ml-bootcamp\venv\lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [13]:
print(encoded_color)

[2 1 0 1 2]

### Ordinal Encoding

In [14]:
from sklearn.preprocessing import OrdinalEncoder

In [15]:
df=pd.DataFrame({
    "person":["A","B","C","D","E"],
    "education":["High School","Bachelors","Post Graduate","Doctorate","Diploma"]
})
df

  person      education
0      A    High School
1      B      Bachelors
2      C  Post Graduate
3      D      Doctorate
4      E        Diploma

In [16]:
ed_enc=OrdinalEncoder(categories=[["High School","Diploma","Bachelors","Post Graduate","Doctorate"]])

In [19]:
encoded_ed_levels=ed_enc.fit_transform(df[["education"]])
print(encoded_ed_levels)

[[0.]
 [2.]
 [3.]
 [4.]
 [1.]]

In [21]:
encoded_ed_levels=pd.DataFrame(encoded_ed_levels,columns=["Education rank"])
encoded_ed_levels

   Education rank
0             0.0
1             2.0
2             3.0
3             4.0
4             1.0

In [24]:
encoded_rank_df=pd.concat([df,encoded_ed_levels],axis=1)
encoded_rank_df

  person      education  Education rank
0      A    High School             0.0
1      B      Bachelors             2.0
2      C  Post Graduate             3.0
3      D      Doctorate             4.0
4      E        Diploma             1.0